@charset "utf-8";
/* CSS Document */

.driver-board {
    background-color: rgb(19, 23, 77);
    width: 100%;
    padding: 10px;
    z-index: 200;
    font-size: 15px;
    text-align: center;
}

.driver-board span {
    color: #29C3CF;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: rgb(18, 31, 83);
    border: 1px solid #bfbfbf;
    border-radius: 0px;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-addon:last-child {
    border-left: 0;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn > .btn {
    position: relative;
}

.input-group-btn > .btn + .btn {
    margin-left: -1px;
}

.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
    z-index: 2;
}

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: -1px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}


.input-group label.error {
    width: 100%;
    background-color: rgb(184, 79, 79);
    height: 30px;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
    padding-top: 5px;
    font-weight: bold;
}



.all-elements {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    background-color: #282c33;
    height: 100%;
}

#content {
    background-color: #FFFFFF;
    overflow: auto;
    height: 100%;
}

#content .container, .decoration, .column, .gallery {
    margin: 0px 20px;
}


.container-gray {
    background-color: #e7e7e7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.page-header {
    /*background-color:#fff;*/
    height: 60px;
    /*box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.2);*/
    margin-top: 20px;
    margin-bottom: 20px;
}


.paragraph {
    display: block;
    width: 100%;
}

.logo {
    width: 63px;
    float: right;
    margin-right: 20px;
    margin-top: 22px;
}


.deploy-sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/misc/deploy-menu_402x.png);
    background-size: 18px 12px;
    background-repeat: no-repeat;
    background-position: 20px 24px;
    width: 60px;
    height: 60px;
}

.deploy-sidebar:hover {
    background-color: rgba(255,255,255,0.1);
}


.sidebar-header {
    overflow: visible;
}


.delete-sidebar {
    overflow: visible!important;
    display: inline;
    position: absolute;
    background-image: url(../images/icon/misc/accessdenied.png);
    background-position: 22px 24px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 60px;
    height: 60px;
    left: 201px;
    margin-top: -25px;
}

.delete-sidebar:hover {
    background-color: rgba(255,255,255,0.1);
}

.sidebar-decoration {
    background-color: #111112;
    height: 1px;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.sidebar-separator {
    padding-left: 20px!important;
    font-family: 'Lato', sans-serif;
    color: #757575;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    background-color: #111112;
    opacity: 0.7;
    height: 25px;
    border-top: 1px solid #323437;
    border-bottom: 1px solid #323437;
}

.no-border {
    border-bottom: none!important;
}

.page-content {
    /*background-color:#282c33;*/
    background-image: linear-gradient(135deg, rgba(50, 35, 148, 0.45), rgba(50, 35, 148, 0.35) 99%), url(../images/bgapp.jpg);
    background-position: 30% 0;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment:fixed;*/
    z-index: 10;
    display: block;
    /*min-height:580px;*/
    min-height: 100%;
    height: 100%;
}

.page-content-wrapper {
    display: block;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 15px;
}

.page-sidebar {
    background-color: #232528;
    width: 260px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    position: fixed;
}

.page-sidebar-scroll {
    width: 280px;
    overflow: scroll!important;
    overflow-x: hidden!important;
    -webkit-overflow-scroll: touch!important;
    height: 100%;
}

.sidebar-logo {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: -7px;
}

.sidebar-header {
    margin-bottom: 28px;
    margin-top: 28px;
}

.heading {
    font-weight: 800;
}


.flat-button {
    color: #FFFFFF;
    font-size: 12px;
    background-color: #d35400;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 20px;
}

.center-button {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.flat-menu {
    background-image: url(../images/icon/arrows/bendedright.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 9px 10px;
}

.flat-settings {
    background-image: url(../images/icon/settings/cog4.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 9px;
}

.flat-features {
    background-image: url(../images/icon/power/power.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 9px;
}

.flat-gallery {
    background-image: url(../images/icon/media/image2.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 9px;
}

.flat-portfolio {
    background-image: url(../images/icon/display/blockimages.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 9px;
}



.footer {
    background-color: #2c3e50;
    height: 60px;
}

.footer-facebook {
    background-image: url(../images/icon/social/facebook.png);
    background-size: 24px 24px;
    margin-top: 20px;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    float: left;
}

.footer-twitter {
    float: left;
    background-image: url(../images/icon/social/twitter.png);
    background-size: 24px 24px;
    margin-top: 20px;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.footer-up {
    float: left;
    background-image: url(../images/icon/arrows/bendedup.png);
    background-size: 24px 24px;
    margin-top: 20px;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.footer em {
    text-align: right;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
    padding-top: 22px;
}

.nav-item {
    font-size: 14px;
    background-size: 24px 24px;
    background-position: 20px 18px;
    background-repeat: no-repeat;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFF;
    height: 60px;
    line-height: 55px;
    padding-left: 60px;
    padding-top: 3px;
    padding-bottom: 5px;
    opacity: 0.8;
    border-bottom: solid 1px #111112;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.home-nav {
    background-image: url(../images/icon/misc/home.png);
}

.type-nav {
    background-image: url(../images/icon/misc/infoabout.png);
}

.jquery-nav {
    background-image: url(../images/icon/power/power.png);
}

.other-nav {
    background-image: url(../images/icon/misc/preview.png);
}

.gallery-nav {
    background-image: url(../images/icon/media/image2.png);
}

.portfolio-nav {
    background-image: url(../images/icon/media/image3.png);
}

.videos-nav {
    background-image: url(../images/icon/media/film.png);
}

.contact-nav {
    background-image: url(../images/icon/misc/mail.png);
}

.text-nav {
    background-image: url(../images/icon/communication/speechbubble3.png);
}

.call-nav {
    background-image: url(../images/icon/communication/phonehook.png);
}

.facebook-nav {
    background-image: url(../images/icon/social/facebook.png);
}

.twitter-nav {
    background-image: url(../images/icon/social/twitter.png);
}


.nav-page {
    position: absolute;
    left: 220px;
    top: 20px;
    background-image: url(../images/misc/next-shortcut.png);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

.nav-link {
    position: absolute;
    left: 220px;
    top: 20px;
    background-image: url(../images/misc/link-shortcut.png);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}

.nav-onit {
    position: absolute;
    left: 220px;
    top: 20px;
    background-image: url(../images/misc/onit-shortcut.png);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
}


.nav-item:hover {
    background-color: rgba(255,255,255,0.05);
}

.loginform {
    margin-top: 20%;
    font-size: 14px;
}

.loginform form input {
    min-width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 2px!important;
    /*background-color: rgba(255,255,255,0.8);*/
    /*border: solid 1px #cacaca;*/
    /*color:#000;*/
}


/*------Tabs------*/

#tabcontainer {
    min-height: 450px;
}

#tabcontainer .tab {
    border-bottom: 1px solid #fff;
    display: inline-block;
    width: 100%;
}

#tabcontainer .tab li {
    margin-bottom: 0!important;
    display: inline-block;
    float: none;
    min-width: 30%;
    text-align: center;
    padding: 5px;
}

#tabcontainer .tab-but {
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.05em;
    color: #fff;
    text-transform: uppercase;
    margin-right: 0;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

#tabcontainer .tab li.active a {
    font-weight: bold;
}

#tabcontainer .tab-content {
    margin-top: 0;
    float: none;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: initial;
}

.accordion {
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}

.accordion-section {
    margin-bottom: 10px;
}

.accordion-head {
    width: 100%;
    padding: 15px;
    display: inline-block;
    /*border-bottom:1px solid #1a1a1a;*/
    background: #fff;
    transition: all linear 0.15s;
    /* Type */
    font-size: 1.200em;
    color: #333;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width: 100%;
    padding: 15px 35px;
    display: inline-block;
    /*border-bottom:1px solid #1a1a1a;*/
    background: #fff;
    transition: all linear 0.15s;
    /* Type */
    font-size: 1.200em;
    color: #333;
    background-image: url(../images/ui/plus_402x.png);
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 13px center;
}


.accordion-section-title.active {
    background: #f7f7f7;
    background-image: url(../images/ui/minus_402x.png);
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 13px center;
}

.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

.accordion-section-title .num-trip {
    float: right;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding: 15px;
    display: none;
    background: #f7f7f7;
    color: #333;
}

.time-trip {
    float: right;
    display: block;
}

.info-trip {
    margin-bottom: 0;
}

.info-trip li {
    list-style: none;
    font-weight: bold;
    color: #333;
}

.info-trip li em {
    font-weight: normal;
    color: #3A3A3A;
}

.accordion-section-content .button-minimal {
    display: block!important;
    width: 100%!important;
    text-align: center;
    padding: 10px 15px!important;
}
